/*表示 p元素，同时p元素内得有title属性*/

p[title] {
    color: rgb(0, 0, 0);
}

p[title="2nd sentence"] {
    color: rgb(0, 194, 65);
}


/* 这个有点正则的感觉，上三角符号，表示以什么什么开头的属性值。 */

p[title^="3 sentence"] {
    color: rgb(6, 22, 245);
}


/* 有开头就有结尾，以指定结尾的属性值 */

p[title$="."] {
    color: rgb(140, 0, 221);
}


/* 星号，含有某值得元素属性 */

p[title*="*"] {
    color: rgb(235, 30, 190);
}


/* 伪类选择器 一个冒号：*/


/* 伪元素选择器 两个冒号：： */