/* 大括号后面别跟分号，手贱bug，让我想了好久，焯！！！ */

.red {
    color: red;
}

.pink {
    color: pink;
}

.blue {
    color: blue;
}


/* 选择class为red的div */


/* 交集选择器：选中同时符合多个条件的元素 ，元素选择器开头*/

div.red {
    font-size: 60px;
}

span {
    color: aquamarine;
}


/* 并集选择器 */

h2,
span {
    font-size: 20px;
}


/*
父元素：直接包含子元素的元素。
子元素：直接被父元素包含的元素。
祖先元素：隔层，直接或间接包含子元素的元素。
后代元素：直接或间接被祖先元素包含的元素。
兄弟元素：直接被同一祖先元素的元素。
*/


/* 给div的子元素设置字体颜色 */


/* 子元素选择器 */

div>h3 {
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}


/* 后代选择器 */

div span {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2.blue>span {
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}